@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

h1,
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h2,
p {
  color: black;
  margin: 0 12.8vw;
  text-align: center;
}

h1 {
  color: white;
  font-size: 2.5rem;
  line-height: 2.375rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

a,
p {
  font-family: 'Alata', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  opacity: 0.5;
}

.burger {
  display: inline-block;
  cursor: pointer;
}

.burger .bar1,
.burger .bar2,
.burger .bar3 {
  background-color: #FFFFFF;
  height: 2px;
  margin: 6px;
  transition: 0.4s;
  width: 35px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.btn {
  border: 1px solid black;
  color: black;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3125rem;
  line-height: 0.875rem;
  opacity: 1;
  padding: 0.8125rem 2rem;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 6.4vw;
  padding-top: 2.5rem;
}

nav .menu {
  display: none;
}

.change h1 {
  display: none;
}

.change .menu {
  display: block;
  position: absolute;
  top: 13.9375rem;
}

.change .menu a {
  color: white;
  font-size: 1.5rem;
  line-height: 3.125rem;
  opacity: 1;
  text-transform: uppercase;
}

header {
  background-image: url("../images/header-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  border: 2px solid white;
  display: inline-block;
  margin: 10.1875rem 6.4vw 14.1875rem 6.4vw;
  padding: 1.625rem 1.5rem 1rem 1.5rem;
}

.change {
  background-color: black;
  background-image: none;
  height: 100vh;
}

footer {
  background-color: black;
  margin-top: 6rem;
  padding-bottom: 4.125rem;
  text-align: center;
}

footer a {
  color: white;
  opacity: 1;
}

footer p {
  color: white;
}

footer .logo {
  margin-bottom: 2.125rem;
  margin-top: 3.5rem;
}

footer li {
  margin-bottom: 1.625rem;
}

footer .social {
  display: flex;
  justify-content: space-evenly;
  margin: 3.375rem auto;
  width: 9.0625rem;
}

footer .social li {
  margin: 0;
}

.home {
  background-color: white;
  text-align: center;
}

.interactive .img-cont {
  background-image: url("../images/interactive.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 14rem;
  margin: 6rem auto 0 auto;
  width: 20.4375rem;
}

.interactive h2 {
  margin-top: 3rem;
}

.interactive p {
  margin-top: 1rem;
}

.creations {
  margin-top: 6.625rem;
}

.creations h2 {
  margin-bottom: 2.875rem;
}

.creations .img {
  background-size: contain;
  background-repeat: no-repeat;
  height: 7.5rem;
  margin: 0 auto 1.5rem auto;
  width: 20.4375rem;
}

.creations .deep-earth {
  background-image: url("../images/deep-earth-mobile.jpg");
}

.creations .arcade {
  background-image: url("../images/night-arcade-mobile.jpg");
}

.creations .soccer {
  background-image: url("../images/soccer-mobile.jpg");
}

.creations .grid {
  background-image: url("../images/grid-mobile.jpg");
}

.creations .above {
  background-image: url("../images/above-mobile.jpg");
}

.creations .pocket {
  background-image: url("../images/pocket-mobile.jpg");
}

.creations .curiosity {
  background-image: url("../images/curiosity-mobile.jpg");
}

.creations .fisheye {
  background-image: url("../images/fisheye-mobile.jpg");
  margin-bottom: 2.125rem;
}
/*# sourceMappingURL=main.css.map */