.home {
    background-color: white;
    text-align: center;   
}

.interactive {

    .img-cont {
        background-image: url('../images/interactive.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        height: toRem(224);
        margin: toRem(96) auto 0 auto;
        width: toRem(327);
    }

    h2 {
        margin-top: toRem(48);
    }

    p {
        margin-top: toRem(16);
    }
}

.creations {

    margin-top: toRem(106);

    h2 {
        margin-bottom: toRem(46);
    }

    .img {
        background-size: contain;
        background-repeat: no-repeat;
        height: toRem(120);
        margin: 0 auto toRem(24) auto;
        width: toRem(327);
    }

    .deep-earth {
        background-image: url('../images/deep-earth-mobile.jpg');
    }

    .arcade {
        background-image: url('../images/night-arcade-mobile.jpg');
    }

    .soccer {
        background-image: url('../images/soccer-mobile.jpg');
    }

    .grid {
        background-image: url('../images/grid-mobile.jpg');
    }

    .above {
        background-image: url('../images/above-mobile.jpg');
    }

    .pocket {
        background-image: url('../images/pocket-mobile.jpg');
    }

    .curiosity {
        background-image: url('../images/curiosity-mobile.jpg');
    }

    .fisheye {
        background-image: url('../images/fisheye-mobile.jpg');
        margin-bottom: toRem(34);
    }
}