.menu {
    display: none;
    background-color: black;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;

    @include media-lg {
        display: inline;
        background-color: transparent;
        height: auto;
        position: relative;
        width: auto;
    }

    .img-container,
    ul {
        margin: 0 pixelToRem(24);
    }

    .img-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: pixelToRem(40);

        @include media-lg {
            display: none;
        }
    }

    ul {
        margin-top: pixelToRem(160);

        @include media-lg {
            display: flex;
            margin: 0;
        }

        li {
            margin-bottom: pixelToRem(25);
            
            @include media-lg {
                margin: 0;
                margin-left: pixelToRem(35);
            }
        }
    }

    a {
        font-family: 'Josefin Sans', sans-serif;
        font-size: pixelToRem(24);
        text-transform: uppercase;

        @include media-lg {
            font-family: 'Atla', sans-serif;
            font-size: pixelToRem(15);
            text-transform: none;
        }
    }   
}

.active {
    display: block;
}

.burger,
.close {
    cursor: pointer;

    @include media-lg {
        display: none;
    }
}