footer {
    background-color: black;  
    margin-top: toRem(96);
    padding-bottom: toRem(66);
    text-align: center;

    a{
        color: white;
        opacity: 1;
    }

    p {
        color: white;
    }

    .logo {
        margin-bottom: toRem(34);
        margin-top: toRem(56);
    }

    li {
        margin-bottom: toRem(26);
    }

    .social {
        display: flex;
        justify-content: space-evenly;
        margin: toRem(54) auto;
        width: toRem(145);

        li {
            margin: 0;
        }
    }
}