header {
    background-image: url('../images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: pixelToRem(40) pixelToRem(24) pixelToRem(227) pixelToRem(24);

    @include media-lg {
        padding: pixelToRem(64) pixelToRem(165) pixelToRem(146) pixelToRem(166); 
    }

    h1 {
        border: 2px solid white;
        margin-top: pixelToRem(187);
        padding: pixelToRem(34) pixelToRem(24);

        @include media-lg {
            max-width: 650px;
        }
    }
}