nav {
    display: flex;
    justify-content: space-between;
    margin: 0 6.4vw;
    padding-top: toRem(40);

    @include media-lg {
        margin: 0 11.42vw;
        padding-top: toRem(64);
    }

    .logo {
        width: toRem(144);

        @include media-lg {
            height: toRem(32);
            width: toRem(192);
        }
    }


    .menu {
        display: none;
        

        @include media-lg {
            display: flex;
            justify-content: space-between;
            width: 26.22vw;

            a {
                color: white;
                opacity: 1;
            }
            
        }
    }
}

.change {

    h1 {
        display: none;
    }

    .menu {
        
        display: block;
        position: absolute;
        top: toRem(223);
        a {
            color: white;
            font-size: toRem(24);
            
            opacity: 1;
            text-transform: uppercase;
        }

        li {
            margin-bottom: toRem(50);
        }
    }
}