nav {
    display: flex;
    justify-content: space-between;
    margin: 0 6.4vw;
    padding-top: toRem(40);

    .menu {
        display: none;
    }
}

.change {

    h1 {
        display: none;
    }

    .menu {
        
        display: block;
        position: absolute;
        top: toRem(223);
        a {
            color: white;
            font-size: toRem(24);
            
            opacity: 1;
            text-transform: uppercase;
        }

        li {
            margin-bottom: toRem(50);
        }
    }
}